body {
  height: 100%;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
}

p {
  color: hsl(215, 51%, 70%);
}
strong {
  color: white;
  transition: color 0.5s;
}

a {
  text-decoration: none;
}

.info h2:hover,
strong:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

div {
  border-radius: 5%;
}

.container {
  background-color: hsl(216, 50%, 16%);
  padding: 25px;
  max-width: 275px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  height: 275px;
  border-radius: 5%;
  transition: opacity 0.5s;
}

.image img:hover {
  cursor: pointer;
  opacity: 20%;
}

.image:hover {
  background-image: url("./images/icon-view.svg");
  background-repeat: no-repeat;
  background-color: hsl(178, 100%, 50%);
  background-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info h2 {
  color: white;
  transition: color 0.5s;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(215, 51%, 70%);
  height: 1px;
  margin: 5%;
}

.bidInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
}

.price p {
  color: hsl(178, 100%, 50%);
}

.price img {
  height: 20px;
  margin-right: 10px;
}

.expiryDate {
  display: flex;
  align-items: center;
}

.expiryDate img {
  height: 20px;
  margin-right: 5px;
}

.artist {
  display: flex;
}

.artist img {
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

@media only screen and (max-width: 550px) {
  .container {
    margin-top: 75px;
  }
}
